.form{
    display: flex;
    flex-direction: column;
}

.form__label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .8em;
    padding: .8em;
}

.form__input{
    width: 400px;
    height: 30px;
}

.form__btn{
    width: 200px;
    margin: 1em;
    padding: .8em;
    border: none;
    border-radius: .5em;
    background-color: greenyellow;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__btn:hover{
    background-color:white;
    border: 1px solid rgb(104, 103, 103);
    cursor: pointer;
}