.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #3fbfb9f9;
    position: sticky;
    top: 0px;
}

.container__top{
    width: 100vw;
    height: 10vh;
} 

.container__top--brand{
    position: absolute;
    top: .6em;
    left: 4em;
}

.container__nav{
    background-color: rgba(110, 113, 120, 0.97);
}

.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav__list--link{
    text-decoration: none;
    margin: 0 3rem;
    color: black;
    font-family: 'Open Sans';
    font-size: 1rem;
    letter-spacing: .2em;
}

.nav__list--link:hover{
    color: white;
}

.nav__list--link.active{
    color: white;
}
